* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

.container {
    max-width: 480px;
    margin-inline: auto;
}

.navigation {
    background-color: hsla(240, 6%, 95%, 0.5);
    position: sticky;
    top: 0;
    z-index: 1;
}

.navigation .container {
    display: grid;
    grid-template-areas: 
        "logo ham"
        "nav nav";
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.navigation img, footer img {
    grid-area: logo;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

.navigation.show {
    animation: slideLeft 1s;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.ham {
    grid-area: ham;
    cursor: pointer;
}

.ham .icon::before {
    content: "\2261";
    display: inline-block;
    text-decoration: none;
    font-size: 2rem;
    color: hsl(240, 4%, 8%);
    line-height: 0.4;
}

.ham.show .icon::before {
    content: "\00D7";
    display: inline-block;
    text-decoration: none;
    font-size: 2rem;
    color: hsl(240, 4%, 8%);
}

.navs.show {
    display: flex;
    flex-direction: column;
    grid-area: nav;
    padding: 5rem 0;
    margin: 0 auto;
    text-align: center;
}

.navs.show a {
    font-size: 1.2rem;
    text-decoration: none;
    padding: 1rem 0;
    color: hsl(240, 4%, 8%);
    border-bottom: 1px solid hsl(270, 50%, 40%);
}

.wayFinding {
    font-weight: 900;
}

.hero {
    background-color: hsl(0, 0%, 100%);
}

.hero .container {
    padding: 6rem 2rem;
    text-align: center;
}

h1, h2, h3 {
    color: hsl(240, 4%, 8%);
}

h1 {
    font-size: 4rem;
    font-weight: 900;
    letter-spacing: -2px;
    line-height: 1.1;
    padding-bottom: 2rem;
}

h2 {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: -1px;
    line-height: 1.2;
    padding-bottom: 2rem;
}


h3 {
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: -1px;
    line-height: 1.3;
    padding-bottom: .5rem;
}

p {
    font-size: 1rem;
    line-height: 1.5;
    padding-bottom: 2rem;
    color: hsl(240, 3%, 11%);
}

img {
    max-width: 100%;
}

.hero .action, .sixth .action {
    padding: 2rem 0;
}

.hero .action a, .third a{
    padding: 1rem;
    text-decoration: none;
    background-color: hsl(212, 100%, 50%);
    color: hsl(0, 0%, 98%);
    border-radius: 2rem;
}

.hero .flow::-webkit-scrollbar,
.navs,
.hero.show,
main.show,
footer.show,
.parent::-webkit-scrollbar {
    display: none;
}

@keyframes slideLeft {
    from {
        transform: translateX(-300%);
    }
}

@keyframes slideRight {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(100%);
    }
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }
}

@keyframes slideUp {
    from {
        transform: translateY(100%);
    }
}

@keyframes scale {
    50% {
        transform: scale(0.5, 0.5);
    }
}

.child {
    background-color: hsl(230, 4%, 95%);
}

.child .container {
    padding: 4rem 2rem;
    overflow: hidden;
    margin-top: .5rem;
}

.service {
    border: 1px solid hsl(270, 50%, 40%);
    padding: 2rem; 
    text-align: center;
    margin: 1rem 0;
}

.service div {
    padding: 2rem 0;
    margin-bottom: 2rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.service a {
    padding: .5rem;
    text-decoration: none;
    background-color: hsl(212, 100%, 50%);
    color: hsl(0, 0%, 98%);
    border-radius: 2rem;
}

.sixth a {
    padding: .5rem;
    text-decoration: none;
    background-color: hsl(0, 0%, 100%);
    color: hsl(212, 65%, 45%);
    border-radius: 2rem;  
    border: .5px solid hsl(212, 65%, 45%); 
}

.service .var{
   border: .5px solid hsl(212, 65%, 45%); 
   color: hsl(212, 65%, 45%);
   background-color: hsl(0, 0%, 100%);
}

section.reveal.show {
    animation: slideUp 1s ease;
}

h2.reveal.show,
h3.reveal.show {
    animation: slideDown 1s ease;
}

.second {
    border-top: none;
}

.second .container {
    position: relative;
    overflow: hidden;
}

.parent {
    position: relative;
    overflow-x: auto;
    padding: 1rem;
    display: flex;
    scroll-snap-type: x mandatory;
    width: 100%;
}

.item {
    flex: 0 0 85%;
    padding: 2rem;
    background: hsl(212, 100%, 93%);
    margin-right: 1rem;
    scroll-snap-align: start;
}

.item.one {
    background-color: hsl(240, 6%, 14%);
}

.item.one h3, .item.one span, footer h3{
    color: hsl(0, 0%, 98%);
}

.item.one p, footer p {
    color: hsl(0, 0%, 92%);
}
.item.one img {
    background-color: hsl(0, 0%, 98%);
    padding: 0.1rem;
    border-radius: 50%;
}

.item.two {
    background-color: hsl(0, 0%, 98%);
}

.second img {
    width: 1.5rem;
    height: 1.5rem;
    display: block;
    margin-right: auto;
    margin-top: .25rem;
}

.second h3 {
    font-size: 1.2rem;
    padding-bottom: 1rem;
    font-weight: 700;
}

.item span {
    display: flex;
    width: 4rem;
    height: 4rem;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    padding: 1rem;
    border-radius: 50%;
    background-color: hsl(212, 100%, 50%);
    color: hsl(0, 0%, 98%);
    margin-bottom: 1rem;
}

.list {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: hsl(212, 100%, 83%);
    border-radius: 6rem;
    padding: .5rem 1rem;
    margin: 1rem 0;
    gap: .5rem;
}

.list .nay {
    display: block;
    width: auto;
    height: auto;
    background-color: initial;
    border-radius: none;
}

.list span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
    border-radius: 50%;
    background-color: hsl(45, 90%, 55%);
}


.second .arrows {
    display: flex;
    justify-content: flex-end;
    color: hsl(240, 3%, 11%);
    gap: .5rem;
}

.second .arrows p {
    font-size: 1.5rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 1px solid hsl(270, 50%, 40%);
    text-align: center;
}

.third, .fifth {
    background-color: hsl(212, 100%, 95%);
}

.third .action, .fifth .action {
    padding: 2rem 0;
    text-align: end;
    margin-bottom: .5rem;
}

.step.reveal.show, .third .action.reveal.show, .fifth .action.reveal.show {
    animation: slideLeft 1s ease;
}

.fourth img.reveal.show {
    animation: scale 1s ease;
}

.sixth {
    background-color: hsl(0, 0%, 100%);
}

.sixth .container {
    text-align: center;
}

footer a {
    display: block;
    padding-bottom: .5rem;
    color: hsl(0, 0%, 92%);
    text-decoration: none;
}

footer nav {
    padding: 1rem 0;
}

footer.child {
    background-color: hsl(240, 6%, 14%);
}

footer.child .container {
    padding-bottom: 0;
}

footer img {
    margin-bottom: .5rem;
}

footer .par {
    text-align: center;
}

footer h3 {
    font-size: 1.2rem;
    color: hsl(45, 90%, 55%);
}

#contact {
    display: grid;
    grid-template-columns: max-content max-content;
    column-gap: 1rem;
}

.pay {
    text-align: center;
}

