@media (min-width: 760px) {
    .container {
        max-width: 100%;
    }
    
    .navs {
        display: block;
        padding-inline: 1rem;
    }

    .navs a {
        text-decoration: none;
        color: hsl(240, 4%, 8%);
        padding-inline: 0.8rem;
    }


    .ham {
        display: none;
    }

    h1 {
        font-size: 6rem;
        letter-spacing: -4px;
    }

    h2 {
        line-height: 1.1;
    }

    h3 {
        font-size: 2rem;
    }
    
    p {
        font-size: 1.12rem;
    }

    .item {
        flex: 0 0 50%;
    }

    .third .container {
        display: grid;
        grid-template-columns: max-content 1fr 1fr;
        column-gap: 6rem;
        grid-template-areas: 
            ". list list"
            "head list list"
            ". list list"
            ". . cta";
    }

    .third .section-header {
        grid-area: head;
    }

    .third .step {
        grid-area: list;
        display: grid;
    }

    .third .action {
        grid-column: cta;
    }

    .fourth .container .section-content  {
        display: grid;
        grid-template-columns: 1fr  max-content;
        grid-template-areas: 
            ". image"
            "head image"
            ". image";
        column-gap: 1rem;
    }

   .p {
    grid-area: head;
   }

   #three {
    grid-area: image;
   }

   footer .nav {
    display: grid;
    grid-template-columns: .5fr .5fr .5fr .5fr;
   }

}

